.experienceSection {
    display: flex;
    min-height: 100vh;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    h2 {
        font-size: $section-heading;
    }
    h3 {
        font-size: clamp(20px, 3vw, 32px);
    }
    .timeline {
        ol {
            padding: 0;
            list-style: none;
            display: flex;
            flex-direction: column;
            gap: 20px;
            
            li .listWrapper {
                margin-bottom: 2.5rem;
                .title {
                    font-size: clamp(20px, 3vw, 32px);
                    &.previousDesignation {
                        color: #64748b
                    }
                }
                .date {
                    font-size: clamp(14px, 2.5vw, 24px);
                    margin: 4px 0px 6px 0px;
                }
                .description {
                    font-size: $p-font-size;
                    margin: 8px 0px 0px 0px;
                    color: $slate;
                }
            }
        }
    }
}