.experienceSection {
    display: flex;
    min-height: 100vh;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    h2 {
        font-size: $section-heading;
    }
    p {
        font-size: $p-font-size;
    }
    .timeline {
        ol {
            padding: 0;
            list-style: none;
            display: flex;
            flex-direction: column;
            gap: 20px;
            li .listWrapper {
                display: flex;
            }
            header {
                flex: 30;
            }
            .description {
                flex: 70;
            }
        }
    }
}