.experienceSection {
    h2 {
        font-size: 2.2rem;
    }
    p {
        font-size: $p-font-size;
    }
    .timeline {
        ol {
            list-style: none;
            gap: 20px;
            li .listWrapper {
                display: flex;
            }
            header {
                flex: 30;
            }
            .description {
                flex: 70;
            }
        }
    }
}