@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap");
@font-face {
  font-family: "Apercu";
  font-style: normal;
  font-weight: normal;
  src: local("Apercu Regular"), url("./Apercu_Regular.woff") format("woff");
}

body,
html {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fff;
  color: #444452;
  font-family: "Source Sans Pro", system, system-ui, -apple-system,
    BlinkMacSystemFont, "Roboto", Helvetica, Arial, sans-serif;
  font-display: swap;
  line-height: 1.5;
  width: 100%;
}

::-moz-selection {
  background: #ffdc00;
}

::selection {
  background: #ffdc00;
}

body.night,
html.night {
  background-color: #181818;
  color: #fff;
}

#overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: 2;
  cursor: pointer;
}

body.night hr {
  border-top: 1px solid #aaa;
}

body.night .card {
  color: #fff;
  background-color: #212121;
}

.tag {
  color: #007bff;
}

.tag:hover {
  cursor: pointer;
  color: #0056b3;;
}

.cbutton {
	position: relative;
	transition: color 0.7s;
}

.cbutton::after {
	content: '';
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -35px 0 0 -35px;
	width: 70px;
	height: 70px;
	border-radius: 50%;
	opacity: 0;
	pointer-events: none;
}

span.wave {
  animation-name: wave-animation;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
  transform-origin: 70% 70%;
  display: inline-block;
  font-size: 2.5rem
}

@keyframes wave-animation {
    0% { transform: rotate(  0.0deg) }
   10% { transform: rotate(-10.0deg) }
   20% { transform: rotate( 12.0deg) }
   30% { transform: rotate(-10.0deg) }
   40% { transform: rotate(  9.0deg) }
   50% { transform: rotate(  0.0deg) }
  100% { transform: rotate(  0.0deg) }
}

.emoji {
  font-size: 1.6rem;
  line-height: 2rem;
}

.text-highlight {
  background-color: #ffdc00;
}

body.night .text-highlight {
  color: #000;
}


.contact-email a {
  cursor: pointer;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  font-weight: 400;
  text-decoration: none;
  display: inline-block;
  padding: 2px 3px;
  text-decoration: none;
  -webkit-box-shadow: inset 0 -3px 0 #ffdc00;
  box-shadow: inset 0 -3px 0 #ffdc00;
  color: #444452;
}

body.night .contact-email a {
  color: #aaa;
}

body.night .contact-email a:hover {
  color: #000;
}

.contact-email a:hover {
  -webkit-box-shadow: inset 0 -33px 0 0 #ffdc00;
  box-shadow: inset 0 -33px 0 0 #ffdc00;
}

/* start:copyToClipboard */

.copyToClipboard {
  visibility: hidden;
  min-width: 200px;
  margin-left: -100px;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 2rem;
  padding: 8px;
  position: fixed;
  z-index: 1;
  left: 50%;
  bottom: 30px;
  font-size: 17px;
}

.copyToClipboard.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 1s;
  animation: fadein 0.5s, fadeout 0.5s 1s;
}

@-webkit-keyframes fadein {
  from {bottom: 0; opacity: 0;} 
  to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {bottom: 30px; opacity: 1;} 
  to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}

/* end:copyToClipboard */


.col-snippet:active {
  background-color: #aaa;
  transition: background-color 0.3s;
}

.col-snippet-md .snippet {
  margin: 0 auto;
}

@media (max-width: 576px) {
  .col-snippet-md .snippet {
    width: 250px;
    height: auto;
  }
}

.media {
  padding: 16px 0;
  margin: 0 auto;
  border-bottom: 1px solid #aaa;
}

.media img, .media .gatsby-image-wrapper {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  height: 150px;
  width: 150px;
}

.media-blog-body {
  height: 150px;
  position: relative;
}

.media-blog-body h5:hover {
  cursor: pointer;
}

.media h5 {
  font-weight: 600;
  overflow: hidden !important;
  text-overflow: ellipsis;
  display: -webkit-box!important;
  -webkit-line-clamp: 2!important;
  -webkit-box-orient: vertical;
}

.media-blog-body .media-blog-footer {
  bottom: 0;
  width: 100%;
}

.media-blog-summary {
  overflow: hidden !important;
  text-overflow: ellipsis;
  display: -webkit-box!important;
  -webkit-line-clamp: 2!important;
  -webkit-box-orient: vertical;
}


@media (max-width: 576px) {
  .media img, .media .gatsby-image-wrapper {
    height: 100px;
    width: 100px;
  }
  .media-blog-body {
    height: 100px;
  }
  .media-blog-summary {
    -webkit-line-clamp: 1!important;
  }
}

.snippet-heading {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden !important;
  z-index: 999;
  font-weight: 600;
}

.snippet-heading span:hover {
  cursor: pointer;
}

body.night .text-secondary,
.text-muted {
  color: #aaa !important;
}

body.night .bg-dark {
  background-color: #212121 !important;
}

body.night ::-moz-selection,
html.night ::-moz-selection {
  color: #36363c;
  background: #ffdc00;
}

body.night ::selection,
html.night ::selection {
  color: #36363c;
  background: #ffdc00;
}

.navbar-brand {
  padding: 0;
  cursor: pointer;
}

.navbar-dark .navbar-nav .nav-link {
  color: #ffffff;
}

.navbar-dark .navbar-nav .nav-link:hover {
  -webkit-box-shadow: 0 -1px 0 #aaa inset;
  box-shadow: 0 -1px 0 #aaa inset;
}

.nav-link.active {
  -webkit-box-shadow: 0 -1px 0 #fff inset;
  box-shadow: 0 -1px 0 #fff inset;
}

.fixed-content {
  position: fixed;
}

.main-content a {
  text-decoration: underline;
  color: #444452;
}

body.night .main-content a {
  color: #aaa;
}

.row {
  margin-bottom: 24px;
}

.main-content img {
  width: 100%;
  max-width: 100%;
  height: auto;
}

.jumbotron {
  background-color: transparent;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right;
  border-radius: 0;
  color: #fff;
}

.jumbotron .btn {
  border-radius: 2rem;
}

@media (max-width: 476px) {
  .jumbotron {
    padding-left: 0;
  }
}

.ctc-wrapper {
  background: #0077b5;
  padding: 4px;
}

.fa-copy:active {
  background: #ffdc00;
}

.fa-copy {
  cursor: pointer;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 0.8rem;
}

.card:hover {
  transition: all 300ms cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
  transition-duration: 0.4s;
  transform: scale(1.01);
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

/* .card-body-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #008CBA;
  overflow: hidden;
  width: 100%;
  height: 0;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.card:hover .card-body-overlay {
  background-color: #0077B5;
  height: 100%;
} */

#autocomplete-container {
  position: relative;
}

.autocomplete-list {
  position: absolute;
  z-index: 99;
  top: 100%;
  left: 0;
  right: 0;
}

.autocomplete-list div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff;
  border-bottom: 1px solid #d4d4d4;
}

body.night .autocomplete-list div {
  color: #444452;
}

.autocomplete-list div:hover {
  background-color: #e9e9e9;
}

.autocomplete-list div:last-child {
  border-radius: 0 0 0.8rem 0.8rem;
}

.media-img:hover {
  cursor: pointer;
}

.card-img-top {
  border-radius: 0.8rem 0.8rem 0 0;
}
.card-img-top:hover {
  border-radius: 0.8rem 0.8rem 0 0;
  cursor: pointer;
}

a:hover {
  text-decoration: none;
}

.heading {
  position: relative;
  display: inline-block;
  margin-bottom: 20px;
}

.heading:before {
  content: "";
  position: absolute;
  top: 100%;
  left: 1%;
  width: 30%;
  border: 2px solid #555;
  border-radius: 4px;
  box-shadow: inset 0 1px 30px rgba(0, 0, 0, 0.5);
}

.tag span {
  background: rgba(0, 0, 0, 0.05);
  padding: 5px 10px;
  border-radius: 3px;
  color: rgba(0, 0, 0, 0.54);
  margin-right: 8px;
  margin-bottom: 8px;
  display: inline-flex;
  flex-wrap: wrap;
}

body.night .tag span {
  background: #212121;
  color: #aaa;
}

[class*="col-"] {
  margin-top: 1.5rem;
}

/* Footer:Start */

.site-footer {
  background-color: #26272b;
  padding: 45px 0 20px;
  font-size: 15px;
  line-height: 24px;
  color: #aaa;
  margin-top: 20px;
}

.site-footer ::selection {
  color: #000;
}

body.night .site-footer {
  background-color: #212121;
}

.site-footer hr {
  border-top-color: #bbb;
  opacity: 0.5;
}

.site-footer hr.small {
  margin: 20px 0;
}

.site-footer h6 {
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
  margin-top: 5px;
  letter-spacing: 2px;
}

.site-footer a {
  color: #aaa;
}

.site-footer a:hover {
  color: #3366cc;
  text-decoration: none;
}

.footer-links {
  padding-left: 0;
  list-style: none;
}

.footer-links li {
  display: block;
  cursor: pointer;
}

.footer-links li:hover {
  text-decoration: underline;
}

.footer-links a {
  color: #737373;
}

.footer-links a:active,
.footer-links a:focus,
.footer-links a:hover {
  color: #3366cc;
  text-decoration: none;
}

.footer-links.inline li {
  display: inline-block;
}

.site-footer .social-icons a {
  width: 40px;
  height: 40px;
  line-height: 40px;
  margin-bottom: 8px;
  margin-left: 8px;
  margin-right: 0;
  border-radius: 100%;
  background-color: #33353d;
}

.contact .social-icons a {
  font-size: 16px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  margin-bottom: 8px;
  margin-right: 8px;
  border-radius: 100%;
  background-color: #33353d;
}

.contact .social-icons li:hover {
  transform: scale(1.02);
  cursor: pointer;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.copyright-text {
  margin: 0;
}

.built-with-text {
  text-align: right;
}

@media (max-width: 991px) {
  .site-footer [class^="col-"] {
    margin-bottom: 30px;
  }
}

@media (max-width: 767px) {
  .site-footer {
    padding-bottom: 0;
  }
  .site-footer .copyright-text,
  .site-footer .social-icons {
    text-align: center;
  }
}

.social-icons {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.social-icons a {
  background-color: #eceeef;
  color: #818a91;
  font-size: 16px;
  display: inline-block;
  line-height: 44px;
  width: 44px;
  height: 44px;
  text-align: center;
  margin-right: 8px;
  border-radius: 100%;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.social-icons a:active,
.social-icons a:focus,
.social-icons a:hover {
  color: rgb(255, 255, 255);
  transform: scale(1.12);
}

.social-icons.size-sm a {
  line-height: 34px;
  height: 34px;
  width: 34px;
  font-size: 14px;
}

.social-icons a.facebook:hover {
  background-color: #29aafe;
}

.social-icons a.email:hover {
  background-color: #b23121;
}

.social-icons a.twitter:hover {
  background-color: #38a1f3;
}

.social-icons a.linkedin:hover {
  background-color: #0077b5;
}

.social-icons a.instagram:hover {
  background: radial-gradient(
    circle at 30% 107%,
    #fdf497 0%,
    #fdf497 5%,
    #fd5949 45%,
    #d6249f 60%,
    #285aeb 90%
  );
}

.instagram-widget a.instagram .fa-instagram {
  background: radial-gradient(
    circle at 30% 120%,
    #fdf497 0%,
    #fdf497 5%,
    #fd5949 45%,
    #d6249f 60%,
    #285aeb 90%
  );
  padding: 4px;
  border-radius: 2rem;
  color: #fff
}


.social-icons a.github:hover {
  background-color: #333;
}

.social-icons a.medium:hover {
  background-color: #000;
}

@media (max-width: 767px) {
  .social-icons li.title {
    display: block;
    margin-right: 0;
    font-weight: 600;
  }
}

@media (max-width: 576px) {
  .built-with-text {
    text-align: center;
  }
}

/* Footer:End */

/* prismjs-block:Start */

.gatsby-highlight pre[class*="language-"] {
  border-radius: 6px;
  margin-bottom: 2rem;
}

/* prismjs-block:End */

/* Return To Top:Start */

#return-to-top {
  display: inline-block;
  /* background-color: rgba(51, 57, 64, 0.9); */
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 4px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
  font-size: 2em;
}

#return-to-top:hover {
  cursor: pointer;
  -webkit-transform: translateY(-10px);
  transform: translateY(-10px);
}

#return-to-top:active {
  background-color: #555;
}

#return-to-top.show {
  opacity: 1;
  visibility: visible;
}

/* Return To Top:End */

table {
  width: 100%;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

body.night table tr {
  background-color: #212121;
}

body.night table thead th {
  background-color: #181818;
}


table,
th,
td {
  border: 1px solid black;
}

body.night table,
th,
td {
  border: 1px solid #aaa;
}

/* start: hamburger icon */
.hamburger-menu {
  width: 25px;
  height: 15px;
  position: relative;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
}
.hamburger-menu span {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  background: #F0F0EE;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

.hamburger-menu span:nth-child(1) {
  top: 0px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

.hamburger-menu span:nth-child(2) {
  top: 8px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

.hamburger-menu span:nth-child(3) {
  top: 16px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

.hamburger-menu.open span:nth-child(1) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  top: -3px;
  left: 8px;
}

.hamburger-menu.open span:nth-child(2) {
  width: 0%;
  opacity: 0;
}

.hamburger-menu.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 15px;
  left: 8px;
}
/* end: hamburger icon */

/* start:Side Drawer */

.offcanvas-collapse .switch-wrapper {
  display: none;
}

@media (max-width: 767px) {
  .offcanvas-collapse {
    position: fixed;
    top: 53px; /* Height of navbar */
    bottom: 0;
    left: -275px;
    right: 0;
    overflow-y: auto;
    width: 275px;
    padding: 1rem 1.9rem;
    background-color: #343a40;
    transition: all 300ms cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
  }
  body.night .offcanvas-collapse {
    background-color: #212121;
  }  
  .offcanvas-collapse.open {
    left: 0;
    visibility: visible;
  }
  .offcanvas-collapse .switch-wrapper {
    display: block;
    margin-left: -10px;
  }
}

.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
}

.nav-scroller .nav {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  color: rgba(255, 255, 255, 0.75);
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

.nav-underline .nav-link {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  font-size: 0.875rem;
  color: #6c757d;
}

.nav-underline .nav-link:hover {
  color: #007bff;
}

.nav-underline .active {
  font-weight: 500;
  color: #343a40;
}

.text-white-50 {
  color: rgba(255, 255, 255, 0.5);
}

.bg-purple {
  background-color: #6f42c1;
}

.lh-100 {
  line-height: 1;
}
.lh-125 {
  line-height: 1.25;
}
.lh-150 {
  line-height: 1.5;
}

@media (max-width: 767px) {
  .navbar-brand {
    display: none;
  }
  .switch-wrapper {
    display: none;
  }
}

/* end:Side Drawer */

th,
td {
  padding: 8px;
  text-align: left;
}

tr:nth-child(even),
th {
  background-color: #f7f7f7;
}

/* body.night tr:nth-child(even), th {
  background-color: #212121;
} */

/* start:Search Bar */
.searchbar {
  margin-bottom: auto;
  margin-top: auto;
  height: 40px;
  border-radius: 30px;
  padding: 10px;
}

.search_input {
  border: 0;
  outline: 0;
  background: none;
  width: 0;
  caret-color: transparent;
  line-height: 20px;
  transition: all 300ms cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
}

.searchbar.open>.search_input {
  padding: 0 10px;
  width: 150px;
  transition: all 300ms cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
  caret-color: #F0F0EE;
  color: #F0F0EE;
  /* border-bottom: 1px solid #F0F0EE; */
}

.searchbar.open>.search_input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #F0F0EE;
}
.searchbar.open>.search_input:-ms-input-placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #F0F0EE;
}
.searchbar.open>.search_input::-ms-input-placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #F0F0EE;
}

.searchbar.open>.search_icon {
  color: #F0F0EE;
}

.search_icon {
  height: 20px;
  float: right;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: #F0F0EE;
  text-decoration: none;
  cursor: pointer;
}
/* end:Search Bar */

/* night switch */

@media screen and (max-width: 480px) {
  .switch-wrapper {
    top: 10px;
    right: 20px;
  }
}

.switch-wrapper .toggle-wrapper {
  margin: 10px;
}

@media (max-width: 844px) {
  .switch-wrapper .toggle-wrapper {
    margin: 10px 10px 10px 10;
  }
}

.switch-wrapper .toggle-wrapper #switch {
  height: 0;
  width: 0;
  visibility: hidden;
  position: absolute;
}

.switch-wrapper .toggle-wrapper #switch:checked + label {
  background: #212121;
  border: 1px solid grey;
}

.switch-wrapper .toggle-wrapper #switch:checked + label:after {
  left: calc(100% - 3px);
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
  background: #f5f2d0;
  top: 2px;
}

.switch-wrapper .toggle-wrapper label {
  cursor: pointer;
  text-indent: -9999px;
  width: 40px;
  height: 20px;
  background: grey;
  display: block;
  border-radius: 100px;
  position: relative;
}

.switch-wrapper .toggle-wrapper label:after {
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  content: "";
  position: absolute;
  top: 3px;
  left: 3px;
  width: 14px;
  height: 14px;
  background: #ffb200;
  border-radius: 100%;
}
