.heroContainer {
    width: 100%;
    min-height: 100vh;
    background-color: aqua;

    .heroSection {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: flex-start;
        min-height: 100vh;
        height: 100vh;
        padding: 0px;
    }
}