html body {
	background-color: #000;
	color: #fff;
	margin: 0;
	font-family: courier, monospace;
	font-size: 14px;
}

.inlineTypist {
	display: inline;
	color: #fff;
}

.rootUser {
	color: #41C732;
}

.cyan {
	color: #41C4D0;
}

.red {
	color: #D6492E !important;
}

.purple {
	color: #6A42F7;
}

.yellow {
	color: #B8B630;
}

.selection {
	color: #3F638A;
}

.cursor {
	color: #8B8B8B;
}

.Typist .Cursor {
	display: inline-block;
}

.Typist .Cursor--blinking {
	opacity: 1;
	animation: blink 1s linear infinite;
}

@keyframes blink {
	0% {
		opacity: 1;
	}
	50% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.title-bar {
	width: 100%;
	border-radius: 5px 5px 0 0;
	padding: 2px 0.1px 8px;
	z-index: 10;
	cursor: move;
	background: #333333;
	margin-bottom: 1.45rem;
}

.title-bar div {
	display: inline-block;
}

.title-bar button {
	padding: 6px;
	border-radius: 8px;
	border: none;
	margin: 0 1px;
	cursor: pointer;
}

.close {
	background: #ff605c;
	margin-left: 10px !important;
}

.minimize {
	background: #ffbd44;
	margin-left: 5px !important;
}

.maximize {
	background: #00ca4e;
	margin-left: 5px !important;
}