main.mainSection {
  width: 100%;

  .container {
    padding-right: 15px;
    padding-left: 15px;
    margin-left: auto;
    margin-right: auto;
  }

  @media (min-width: $screen-md) {
    .container {
      width: 650px;
    }
  }

  @media (min-width: $screen-lg) {
    .container {
      width: 839px;
    }
  }

  @media (min-width: $screen-xl) {
    .container {
      width: 1012px;
    }
  }
}
