.contactSection {
    display: flex;
    min-height: 100vh;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;

    h2 {
        font-size: $section-heading;
        color: $contrast-color-light;
    }
    .sectionWrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        @include include-md-up {
            align-items: start;
        }
    }

    p, ul {
        font-size: $p-font-size;
        color: $text-color;
    }

    .reason {
        font-weight: 800;
        color: $secondary-color-light;
    }
}