.socialList {
    display: none;
    position: fixed;
    bottom: 0;
    left: 40px;
    right: auto;
    z-index: 10;
    @include show-desktop;
    
    ul {
        list-style: none;
        display: flex;
        flex-direction: column;
        gap: 10px;
        align-items: center;
        margin: 0;
        padding: 0;

        li {
            padding: 10px;
            font-size: 24px;
            cursor: pointer;
            transition: transform 0.3s ease-in-out;
        }

        li:hover {
            transform: scale(1.6);
        }
    }
    
    ul::after {        
        content: "";
        width: 1px;
        height: 60px;
        background-color: $lavender;
    }
}