.footer {
    padding: 15px;
    ul.socialLinks {
        @include hide-desktop;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 40px;
        padding: 0px;
        li {
            list-style: none;
        }
    }

    hr {
        @include hide-desktop;
    }

    .credit {
        margin-top: 8px;
        display: flex;
        justify-content: center;
    }
}